.alphabet {
  $num-chars: 26;
  $num-rows: 2;

  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat($num-chars / $num-rows, 1fr);
  gap: 6px;

  @include mobile {
    gap: 3px;
  }

  span {
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    background-color: $default-color;

    // making a circle
    border-radius: 20px;
    width: 22px;
    padding: 5px;

    // this will compact the circles a bit on mobile
    @include mobile {
      width: auto;
    }

    &.found {
      background-color: $found-color;
    }

    &.eliminated {
      background-color: $eliminated-color;
    }
  }
}
