input {
    // fixes some weird width issues
    // also cause lots of problems on iOS
    padding: 0;

    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid $border-color;
    border-radius: 0; // for iOS

    font-family: monospace;
    text-transform: uppercase;
    font-size: 2em;
    letter-spacing: .3em;
    text-align: center;
    width: 100%;
    // line-height: 1.6em;

    // hide spin buttons
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none; // display: none; crashes Chrome on hover
        margin: 0; // apparently some margin are still there even though it's hidden
    }

    &[type=number] {
        -moz-appearance: textfield; // firefox
    }

    &.has-error {
        border-color: $border-color-error;
        color: $text-error;
    }
}