body {
  padding: 0;
  margin: 0;
  background-color: $background-color;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  display: flex;
  justify-content: center;
  
  & > div {
    width: 494px; // same width as alphabet component
    margin: 5px;  // for mobile

    .container-narrow {
      padding: 50px;
    } 
    
    .guesses-container {
      display: flex;
      justify-content: center;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include mobile {
    h3 {
      margin-top: 0;
      margin-bottom: 0.75em;
    }
  }
}
