body {
  padding: 0;
  margin: 0;
  background-color: $background-color;

  display: flex;
  justify-content: center;

  & > div {
    // sample width as alphabet component
    width: 494px;

    .guesses-container {
      display: flex;
      justify-content: center;
    }
  }
}
